  body {
    font-family: 'Roboto', sans-serif;
  }

  .navbar-style {
    min-height: 100px;
    background: linear-gradient(180deg, #F5F5F5 0%, #EDEDED 100%);
    border: 1px solid #E1E1E1;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .navbar-brand {
    line-height: 90px;
    padding: 0;
  }

  .nav-item {
    padding: 0 15px;
  }

  .nav-link > span {
    color: #000 !important;
  }

  .nav-link.active>span {
    border-bottom: #2496FF 2px solid;
  }

  .nav-link > span:hover {
    border-bottom: #8FC9FF 2px solid;
  }

  .carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .carousel-control-size {
    font-size: 64px;
  }

  .carousel-item-background {
    height: 40vh;
    min-height: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./images/slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-header {
    font-weight: 200;
    font-size: 64px;
    color: #FFFFFF;
  }

  .carousel-text {
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    max-width: 40vw;
    line-height: 21px;
    padding: 12px;
  }

  .carousel-span {
    height: 100%;
    width: 3px;
    background-color: #2496FF;
    border-radius: 99px;
    margin-right: 22px;
  }

  .news-container {
    padding: 50px 0;
    background: #FAFAFA;
  }

  .card-style {
    /*margin: 14px 0;*/
    border: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .card-title {
    font-weight: 700;
    color: #2496FF;
  }

  .card-body {
    padding: 16px;
    padding-bottom: 0;
  }

  .card-text {
    max-height: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 4;
           line-clamp: 4; 
   -webkit-box-orient: vertical;
  }

  .card-footer {
    background: none;
    border: none;
    padding: 16px;
  }

  .btn-card {
    color: #fff;
    background: #2496FF;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 6px 16px;
  }

  .btn-card:hover {
    color: #fff;
    background: #1580E3;
  }

  .phone-background {
    background-image: url('./images/hero-image.png');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    min-height: 343px;
  }

  .phone-span {
    font-size: 24px; font-weight: bold;
  }

  .btn-price {
    background: #FAFAFA;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 180px;
    height: 81px;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .btn-price.active {
    background: #F0F0F0;
    border: 1px solid #2496FF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  }

  .btn-price:not(.active):hover {
    border: 1px solid #98CDFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.01);
  }

  .font-cost {
    font-size: 24px;
    font-weight: 700;
  }

  .footer-style {
    min-height: 200px;
    background: linear-gradient(90.89deg, #6A6A6A 0%, #3F3E3E 100%);
  }

  .copyright {
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
  }

  .hidden {
    opacity: 0;
  }

  .rounded-8 {
    border-radius: 8px;
  }

  .margin-y-14 {
    margin: 14px 0;
  }

  .margin-l-16 {
    margin-left: 16px;
  }

  .margin-y-24 {
    margin: 24px 0;
  }

  .margin-y-64-auto {
    margin: 64px auto;
  }

  .padding-t-48 {
    padding-top: 48px;
  }

  .padding-y-64 {
    padding: 64px 0;
  }

  .font-size-14 {
    font-size: 14px;
  }

  .font-size-20 {
    font-size: 20px;
  }

  .font-size-28 {
    font-size: 28px;
  }

  @media screen and (min-width: 576px) {
		.container {
      padding: 0;
    }
  }

  @media screen and (min-width: 1400px) {
		.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
			max-width: 1200px;
		}
  }

  @media screen and (max-width: 992px) {
		.row.mobile {
			flex-direction: column-reverse;
		}

    .carousel-header {
      font-size: 48px;
    }

    .carousel-text {
      max-width: 60vw;
      font-size: 16px;
    }

    .carousel-control-size {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 1200px) {
		.row.mobile {
			flex-direction: column-reverse;
		}
  }

  @media screen and (max-width: 1400px) {
    .carousel-text {
      max-width: 50vw;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {
		.btn-block {
			padding: 0 24px;
		}
  }
